.special_all{
  background: white;
  color:black;
  width: 7.5rem;
  padding-top:0.95rem;
  .special_det_top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 7.5rem;
    height: 0.95rem;
    border-bottom: 0.02rem solid gray;
    position: fixed;
    background: white;
    top: 0;
    z-index: 10;

    p {
      font-size: 0.5rem;
      font-weight: bolder;
      color: black;
    }

    i {
      font-size: 0.5rem;
      font-weight: bolder;
    }
  }
.p2{
  font-size: 0.35rem;width: 6rem;height: 0.4rem;font-weight: 500;
line-height: 0.34rem;text-align: center;overflow: hidden;margin: 0.4rem auto;

}
img{
  width: 95%;display: block;margin: 0 auto;
}
span{
  font-size: 0.18rem;line-height: 0.3rem;display: block;
  width: 80%;margin-left: 10%;
}
.spec_det_det{
  font-size: 0.2rem;line-height: 0.3rem;
  p{
    font-size: 0.2rem;line-height: 0.5rem;
  }
  img{
      width: 95%;
      display: block;
      margin: 0.3rem auto;
      display: block;
  }
}



}