.opj_all{
  width: 7.5rem;
  background: #f4f4f4;
  padding-top: 0.95rem;
}
.opj_top{
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 7.5rem;
   height: 0.95rem;
   border-bottom: 0.01rem solid gray;
   position: fixed;
   background: white;
   top: 0;
}
p {
  font-size: 0.3rem;
  font-weight: 200;
  color: black;
}

.p1 {
  font-size: 0.3rem;
  font-weight: 800;
  color: black;
}
.div{width: 7.5rem;height: 4rem;background: white;
textarea{
  width: 7rem;height: 4rem;border: none;font-size: 0.3rem !important;
  margin-left: 0.25rem;
}

}

.opj_content{
  width: 7.5rem;height: 1.6rem;display: flex;justify-content: space-around;
  align-items: center;background: white;
  img{
    width: 0.95rem;height: 0.95rem;border-radius: 0.1rem;
  }
  .opjc_right{
    width: 5.6rem;
    height: 0.95rem;
    background: white;
    h4{
      font-size: 0.25rem;color: black;font-weight: 400;
    }
    p{
      font-size: 0.15rem;color: gray;margin-top: 0.3rem;
    }
  }
}
.opj_start{
  width: 7.5rem;height: 0.85rem;border-bottom:0.05rem solid #f4f4f4;
  display: flex;align-items:center;background: white;
  span{
    font-size: 0.28rem;margin-left:0.2rem;font-weight: 900;color: black;display: inline-block;
  }
  i{
    font-size: 0.4rem;
    margin-left:0.2rem;
  }
}